* {
	text-align: center;
	font-family: arial;
}
h1 {
	font-family: 'Roboto Mono', monospace;
	color: #941313;
}
footer {
	color: #941313;
}
.food {
	font-size: 24px;
}
.main {
	background-color: pink;
}
.req {
	font-weight: bold;
}
a {
  font-family: monospace;
  text-decoration: underline;
  font-weight: none;
}
a:link {
	color: blue;
}

a:visited {
	color: orange;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
#bev {
	text-decoration: underline;
}
.jumbo {
	text-align: left;
	margin: 10px
}
.carousel-inner > .item > img{
	height: 500px;
	width: 100%;
}
.carousel-inner > .item > .carousel-caption > h2 {
	color: #941313;
	background-color: pink;
	border: 3px solid black;
	padding: 3px;
}
.menu-item{
	height: 300px;
	width: 300px;
	border: 3px solid black;
}
#contact-form{
	text-align: left;
  display: inline-block;
}
